<h1 class="text-2xl font-bold text-right mt-10 mb-10">{{ timeRemaining$ | async | date:'mm:ss' }}</h1>

<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2" *ngFor="let tab of tabs">
            <a 
                [class.text-blue-600]="selectedTab === tab.id" 
                [class.border-blue-600]="selectedTab === tab.id" 
                [class.active]="selectedTab === tab.id" 
                [class.dark:text-blue-500]="selectedTab === tab.id" 
                [class.dark:border-blue-500]="selectedTab === tab.id" 
                (click)="selectedTab = tab.id" 
                class="cursor-pointer inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            >
                {{tab.name}}
            </a>
        </li>
        <li>
            <a class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Disabled</a>
        </li>
    </ul>
</div>

<div class="tab-content" *ngIf="selectedTab === 1">
    <div class="min-h-screenpy-6 flex flex-col justify-center sm:py-12 mb-10">
        <div class="py-3 sm:max-w-xl sm:mx-auto">
            <div class="bg-white shadow-lg border-gray-100 max-h-80	 border sm:rounded-3xl p-8 flex space-x-8">
                <div class="h-48 overflow-visible w-1/2">
                    <img class="rounded-3xl shadow-lg" [src]="(movie$|async)?.imageUrl" alt="">
                </div>
                <div class="flex flex-col w-1/2 space-y-4">
                    <div class="flex justify-between items-start">
                        <h2 class="text-3xl font-bold">{{(movie$|async)?.title}}</h2>
                        <div *ngIf="(movie$|async)?.isPremiere" class="bg-yellow-400 font-bold rounded-xl p-2">Premier</div>
                    </div>
                    <div>
                        <div class="text-sm text-gray-400">{{(movie$|async)?.genres}}</div>
                        <div class="text-sm text-gray-400">{{(movie$|async)?.time}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-2xl mx-auto mt-10">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select ticket type</label>
            <select (change)="handleChage($event)" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Choose a ticket</option>
            <option [value]="ticket.price" *ngFor="let ticket of tickets$ | async">{{ticket.name}}</option>
        </select>
    </div>
    
    <h1 class="text-2xl font-bold text-center mt-10 mb-10">Reserve Seat</h1>
    
    <app-seat 
        [cols]="(showing$|async)?.columns || 0" [rows]="(showing$|async)?.rows || 0"
        (onSelectionChage)="handleSelectionChage($event)"
    ></app-seat>
    <div class="w-3/4 mt-4">
        <button (click)="handleClick()" type="button" class="px-5 py-2.5 bg-red-600 hover:bg-red-700 rounded-lg text-center font-medium text-white">
            Continue
        </button>
    </div>
</div>
<div class="flex flex-col justify-center h-screen items-start" *ngIf="selectedTab === 2">
    <p class="text-1xl text-left">Name of the movie: {{(movie$|async)?.title}}</p>
    <p class="text-1xl text-left">Ticket Type: {{ticketType}}</p>
    <p class="text-1xl text-left">Time From: {{(showing$|async)?.timeFrom}}</p>
    <p class="text-1xl text-left">Time To: {{(showing$|async)?.timeTo}}</p>
    <p class="text-1xl text-left">Seats: {{seats}}</p>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full md:w-1/2 flex flex-col items-center justify-center">
        <div class="w-3/4 mb-6">
            <input 
                type="email" 
                name="email" 
                formControlName="email" 
                id="email" 
                class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" 
                placeholder="Email"
            >
        </div>
        <div class="w-3/4 mb-6">
            <input 
                type="phone" 
                name="phone" 
                formControlName="phone" 
                id="phone" 
                class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" 
                placeholder="Phone"
            >
        </div>
        <div class="w-3/4 mb-6">
            <input 
                type="text" 
                name="discountCode" 
                formControlName="discountCode" 
                id="discountCode" 
                class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" 
                placeholder="Discount Code"
            >
        </div>
        <div class="w-3/4 mt-4">
            <button type="submit" class="px-5 py-2.5 bg-red-600 hover:bg-red-700 rounded-lg text-center font-medium text-white">
                Order 
            </button>
        </div>
    </form>
</div>
<div class="tab-content" *ngIf="selectedTab === 3">
    <form [formGroup]="form" (ngSubmit)="onSubmitCreditCard()" class="w-full md:w-1/2 flex flex-col items-center justify-center">
        <div class="w-3/4 mb-6">
            <input 
                type="number" 
                name="creditcardNumber" 
                formControlName="creditcardNumber" 
                id="creditcardNumber" 
                class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" 
                placeholder="Enter credit card number, 9 digits"
            >
        </div>
        <div class="w-3/4 mt-4">
            <button type="submit" class="px-5 py-2.5 bg-red-600 hover:bg-red-700 rounded-lg text-center font-medium text-white">
                Order 
            </button>
        </div>
    </form>
</div>

